body {
  font-family: "Montserrat", sans-serif;
  background-color: white;
  color: #202020;
  width: 100%;
  height: 1920px;
  margin: 0;
  background-image: url("./Components/Style/assets/Vector.png");
  background-repeat: no-repeat;
  background-position: right top;
  background-size: 50%;
}

svg {
  display: inline;
  position: absolute;
  right: 0;
}
